# ==============================================
# 開発環境でアプリケーションを実行するには、このファイルを
# .env にリネームするか新規作成してルートディレクトリに配置してください
# 任意値の部分は変更可能です
# 固定値は変更しないでください
# ==============================================

# ===== ポート設定値(任意値) =====
APP_PORT=8080
HEALTH_MONITOR_PORT=8081

# ===== アプリ側のユーザー(任意値)、パスワード(任意値)、サービスURL(固定値) =====
APP_ADMIN=app-admin
APP_ADMIN_PASSWORD=app-admin123
APP_URL=http://app

# ===== モニター側のユーザー(任意値)、パスワード(任意値)、サービスURL(固定値) =====
HEALTH_MONITOR_USER=monitor-admin
HEALTH_MONITOR_PASSWORD=monitor-admin123
HEALTH_MONITOR_URL=http://health-monitor

# ===== DBコンテナの環境変数(flywayとの関係上、全て固定値) =====
POSTGRES_HOST=db
POSTGRES_DB=portfolio-db
POSTGRES_ROOT_USER=root
POSTGRES_ROOT_PASSWORD=pass123
POSTGRES_APP_USER=app_user
POSTGRES_APP_PASSWORD=pass456

# ===== 開発用ストレージ(supabase)の設定値 =====
STORAGE_PROJECT_URL=
STORAGE_SERVICE_ROLE_API_KEY=
STORAGE_BUCKET_AVATAR=
STORAGE_EXPIRES_IN=


# 開発用ストレージについて(この記述は 2026/03/19 に作成したものです。画面が異なる可能性もあるので予めご了承ください。)
# https://supabase.com でアカウント作成後、プロジェクトを作成してください
# ⬇️を参考に各設定値をセットしてください


# STORAGE_PROJECT_URL に関して
# 1.プロジェクトのホーム画面のプロジェクトタイトルの下のURLをコピーして貼り付けてください
# 例: https://〇〇〇.supabase.co


# STORAGE_SERVICE_ROLE_API_KEY に関して
# 1.プロジェクトのホーム画面の左のメニューから Project Setting を選択
# 2.画面が切り替わったら、左のメニューの API Keys を選択
# 3.画面が切り替わったら、Legacy anon, service_role API keys を選択
# 4.service_role の値をコピーして貼り付けてください


# STORAGE_BUCKET_AVATAR に関して
# 1.プロジェクトのホーム画面の左のメニューから Storage を選択
# 2.New bucket を選択
# 3.Restrict file size をチェックし、サイズを10MB以下に設定してください
# 4.Restrict MIME types をチェックし、image/jpeg, image/png と入力してください
# 5.Create を押してください
# 6.バケット名をコピーして貼り付けてください


# STORAGE_EXPIRES_IN に関して
# データの署名付き取得URLの有効期限(任意の秒数を設定 例:1800(30分))