<section th:fragment="avatar" id="avatar-info-details" class="popupinfo hidden">
    <ul>
        <p>
            <strong>推奨サイズ</strong>
            <ul>
                <li>150 x 150 px</li>
                <li>10MB以下</li>
            </ul>
        </p>

        <p>
            <strong>対応形式</strong>
            <ul>
                <li>JPG / PNG</li>
            </ul>
        </p>
        
        <p>
            <strong>操作方法</strong>
            <ul>
                <li>「左側」をクリックで、<strong>変更</strong></li>
                <li>「右側」をクリックで、<strong>削除</strong></li>
            </ul>
        </p>
    </ul>
</section>