<div th:fragment="layout(content)">
    <!DOCTYPE html>
    <html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>simple-spring-mvc</title>
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/layout.css}">
        <link rel="stylesheet" th:href="@{/css/components.css}">
        <link rel="stylesheet" th:href="@{/css/utility.css}">
    </head>
    <body>
        <!-- ヘッダー -->
        <div th:insert="~{fragments/header :: header}"></div>
        
        <!-- メイン -->
        <main th:replace="${content}"></main>
    </body>
    </html>
</div>